

    <!-- sweet alert cdn -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <link rel="stylesheet" href="/css/style.css">
       <div class="sub_header"></div>



             <div class="container" style="margin-top:20px; margin-bottom:20px;">
                  {{#if delrec}}
                   <center>
                    <div class="alert alert-success w-50">{{delrec}}</div>
                    <a href="/agent/admin_nego/"> Back To Dasjboard </a>
                   </center>
                  {{/if}} 

              {{#if admin_sent}}
                <script>
                alert(" MESSAGE SENT TO AGENT SUCCESSFULLY ")
                window.location = "admin_nego";
               </script>
               {{/if}}  

              {{#if del_agent}}
                 <center>
                    <div class="alert alert-warning w-50">{{del_agent}}</div>
                    <a href="/agent/more/"> Back To Dasjboard </a>
                   </center>
               {{/if}} 

             </div>



<!-- footer -->   
<div class="card text-center footer">
  <div class="card-header">
    <marquee><p class="q-text"> Online Shopping Agency Warehousing System........</p> </marquee>
  </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <input type="text"  class="input-txt" name="" placeholder=" your email here  ">
          <button class="btn-sub">subscribe</button>
      
        <a href="#" class="btn-top">Top</a>
    </div>
    <div class="card-footer text-muted">
        © 2023 Shopping Agency Warehousing System. All rights reserved | Designed by Softwork
    </div>
</div>
    <!-- end footer -->