


  <link rel="stylesheet" href="/css/style.css">

<div class="container">
 
    <h1 style="font-family:sans-serif;color:black;" class="text-center mt-5"> Best Offers For You  </h1>

     <center>
         <img src="./uploads/Flood-pana.svg" class="w-50 h-55"><p> <br> 
         <a href="agent/cust_login" class="btn-cust-reg" style="width:20%;"> Login (Customer)</a>
       </center>
{{!--     
        <div class="row">
            <div class="col-md-4">
                <img src="./images/happy.jpeg" class="w-100 h-55">
                <p class="text-center" style="color:black;">
                    product name details
                </p>
       
           </div>
            <div class="col-sm-4">
                <img src="./images/happy.jpeg" class="w-100 h-55">
                 <p class="text-center" style="color:black;">
                    product name details
                </p>
            </div>
            <div class="col-md-4">
                <img src="./images/happy.jpeg" class="w-100 h-55">
                 <p class="text-center" style="color:black;">
                    product name details
                </p>
            </div> 

            <div class="col-md-4">
                    <img src="./images/happy.jpeg" class="w-100 h-55">
                     <p class="text-center" style="color:black;">
                    product name details
                </p>
                </div>
                <div class="col-sm-4">
                    <img src="./images/happy.jpeg" class="w-100 h-55">
                     <p class="text-center" style="color:black;">
                    product name details
                </p>
                </div>
                <div class="col-md-4">
                    <img src="./images/happy.jpeg" class="w-100 h-55">
                     <p class="text-center" style="color:black;">
                    product name details and details
                </p>
             </div> 
       </div>   --}}
    
</div>



