

  <link rel="stylesheet" href="/css/style.css">
       <div class="sub_header"></div>
   <div class="container" style="margin-top:100px;margin-bottom:100px;">

     {{#if cust_neg_flash}}
        <center>
          <div class="alert alert-success text-center w-50" style="color:red;font-family:sans-serif;">{{cust_neg_flash}} </div>
            <a href="/agent/prod_listing"> Back to Product </a>
        </center>
     {{/if}} 
           {{#if token_err}}
            <center>
               <div class="alert alert-danger w-50 text-center">{{token_err}}</div>
            <a href="/agent/prod_listing"> Back to Product </a>
            </center>
        {{/if}}

   
   </div>

 

     <!-- footer -->   
<div class="card text-center footer">
  <div class="card-header">
    <marquee><p class="q-text"> Online Shopping Agency Warehousing System........</p> </marquee>
  </div>
    <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <input type="text"  class="input-txt" name="" placeholder=" your email here  ">
          <button class="btn-sub">subscribe</button>
      
        <a href="#" class="btn-top">Top</a>
    </div>
    <div class="card-footer text-muted">
        © 2023 Shopping Agency Warehousing System. All rights reserved | Designed by Softwork
    </div>
</div>
    <!-- end footer -->